.inputLogin{

    outline: none;
    border: none;
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 14px;
}


.inputLogin::placeholder{
    color: gray;
}

.input-admin{
    background: transparent;
    border: none;
    border-bottom: 1px solid green;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 60%;
    outline: none;
    color: white;
    padding-left: 15px;
}

.input-admin-button{
    width: 60%;
    border-radius: 10px;
    background: green;
    padding: 5px 15px;
    font-size: 20px;
    border: none;
    color: white;
    outline: none;
}

.input-admin::placeholder{
    color: white;
    padding-left: 15px;
}

.user-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.round{
    border-radius: 50%;
}

.user-wrapper{
    background: white;
    padding-left: 20px;
    padding-right: 20px;
}

.button-image{
    text-align: center;
}

.button-wrapper{
    padding: 15px 10px;
    box-shadow: 2px 5px 7px #222;
    transition: all .3s;
    cursor: pointer;
    border-radius: 15px;
    width: 80%;
    background: rgba(255,255,255,0.7);
}

.button-wrapper:hover{
    transform: translateY(-10px);
}

.button-text{
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}


.signIn{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.input-user{
    background: rgba(255,255,255,.8);
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 10px;
}


.manu-col{
    background: rgba(255,255,255,0.6);
    width: 60%;
    margin: auto;
    padding-top: 20px;
}

.input-manu{
    background: transparent;
    border: none;
    border-bottom: 1px solid purple;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 60%;
    outline: none;
    color: black;
    padding-left: 15px;
}
.input-manu::placeholder{
    color: black;
}

.input-manu-btn{
    width: 60%;
    background:"linear-gradient(to right,rgba(205,52,181),rgba(68,166,187))"
}

.distributor-text-sec{
    font-size: 28;
    font-weight: 400;
    color: #ffffff;
}

.distributor-text{
    font-size: 30;
    font-weight: 600;
    color: black;
}